{{!-- Make changes here still --}}
<div>
    <h2>Try one of our API searches, or supply your own, to have the result rendered to your browser window.</h2>
    <br>
    <ul>
        <li>
            <h5>Enter Your Own API Endpoint!</h5>
            <p>Instead of using a pre-filled API endpoint from the dropdown box, enter a complete API endpoint
                (including search parameters, if applicable).</p>
        </li>
        <li>
            <h5>Random User: https://randomuser.me/api/</h5>
            <p>Do not enter anything into the search box. Simply select 'Random User' from the drop down menu and press
                the search button to generate a random fake user (including: gender, name, email, address, etc.).</p>
        </li>
        <li>
            <h5>Universities: http://universities.hipolabs.com/search?country=</h5>
            <p>Enter a country name into the search box and select 'Universities' from the drop down menu to receive
                data containing a list of universities in the specified country.</p>
        </li>
        <li>
            <h5>Zip Code: https://api.zippopotam.us/us/</h5>
            <p>Enter a five digit zip code (inside the United States of America) into the search box and select 'Zip
                Code' from the drop down menu to receive general
                information regarding the specified zip code.</p>
        </li>
    </ul>
</div>
<br>
<div class="container mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-group
                mb-3">
                    <label for="exampleFormControlSelect1">Select API:</label>
                    <select class="form-control" id="api-dropdown" name="api">
                        <option value="">Enter Your Own!
                        </option>
                        <option value="https://randomuser.me/api/">Random User (no search string)
                        </option>
                        <option value="http://universities.hipolabs.com/search?country=">Universities
                        </option>
                        <option value="https://api.zippopotam.us/us/">Zip Code
                        </option>
                    </select>
                </div>
                <label>Enter a search parameter:</label>
                <div class="input-group mb-3">
                    <input type="text" id='search-input' class="form-control" name="search" placeholder="Search"
                        aria-label="Search term" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mb-3">
    <h5>These are all of the API endpoints you have used in previous searches.</h5>
    <h6>Click on one to fetch the API.</h6>
    <div id="fetch-history"></div>
</div>
<div>
    <pre>
        <code id="fetch-results">
        </code>
    </pre>
</div>
<script src="/js/dashboard.js"></script>