{{!-- Make changes here still --}}
<div>
    <h2>Try one of our API searches to have the result rendered to your browser window.</h2>
    <br>
    <ul>
        <li>
            <h5>Random User</h5>
            <p>Do not enter anything into the search box. Simply select 'Random User' from the drop down menu and press
                the search button to generate a random fake user (including: gender, name, email, address, etc.).</p>
        </li>
        <li>
            <h5>Universities</h5>
            <p>Enter a country name into the search box and select 'Universities' from the drop down menu to receive
                data containing a list of universities in the specified country.</p>
        </li>
        <li>
            <h5>Zip Code</h5>
            <p>Enter a zip code into the search box and select 'Zip Code' from the drop down menu to receive general
                information regarding the specified zip code.</p>
        </li>
    </ul>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select API:</label>
                    <select class="form-control" id="api-dropdown" name="api">
                        <option value="https://randomuser.me/api/">Random User (no search string)
                        </option>
                        <option value="http://universities.hipolabs.com/search?country=">Universities
                        </option>
                        <option value="https://api.zippopotam.us/us/">Zip Code
                        </option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label>Enter a search term:</label>
                    <br>
                    <input type="text" id='search-input' class="form-control" name="search" placeholder="Search"
                        aria-label="Search term" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div>
    <p id="fetch-results"></p>
</div>
<script src="/js/fetch.js"></script>

{{!-- action="/submit-form" method="POST" --}}