{{!-- Make changes here still --}}
<div id="intro-example" clas="p-5 text-center bg-image" style="background-image: url('/public/assets/main-bg.jpg'); background-size: cover; background-position: center
center;">


  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">API Result Data</h1>
        <h5 class="mb-4">Return your search quicker than ever!</h5>
        <a class="btn btn-outline-light btn-lg m-2" href="login" role="button" rel="nofollow" target="_blank">Login</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/register" role="button" rel="nofollow"
          target="_blank">Register</a>
      </div>
    </div>
  </div>
</div>