<div id="intro-example" clas="p-5 text-center bg-image" style="background-image: url('/public/assets/main-bg.jpg'); background-size: cover; background-position: center
center;">


  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">API Playground</h1>
        <h5 class="mb-4">Log in or create a new account to use your browser as a way to test and explore APIs.</h5>
        <p>If you are a novice web developer looking to dive into APIs and how they work without the task of relying on
          desktop applications, use our browser application to text and explore API endpoints and responses, JSON
          objects, and more.</p>
        <a class="btn btn-outline-light btn-lg m-2" href="/login" role="button" rel="nofollow">Login</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/register" role="button" rel="nofollow">Register</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/dashboard" role="button" rel="nofollow">Dashboard</a>
      </div>
    </div>
  </div>
</div>